.button {
    -fx-font-family: "KG HAPPY";
    -fx-font-size: 30pt;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
    -fx-text-fill: #AAAAAA;
    -fx-effect: dropshadow(gaussian , black, 4, 0.5, 0, 0)
}

.button-lg {
    -fx-font-size: 45pt;
}

.button#button-ok:hover {
    -fx-text-fill: #AAFFAA;
}

.button#button-ok:pressed {
    -fx-text-fill: #669966;
}

.button#button-warn:hover {
    -fx-text-fill: #FFAAAA;
}

.button#button-warn:pressed {
    -fx-text-fill: #996666;
}

.button#button-promote {
    -fx-effect: none
}

.button#button-promote:hover {
    -fx-effect: dropshadow(gaussian , #90EE90, 20, 0.5, 0, 0)
}

.button#button-promote:pressed {
    -fx-effect: dropshadow(gaussian , #335733, 20, 0.5, 0, 0)
}

.label {
    -fx-font-family: "KG HAPPY";
    -fx-font-size: 40pt;
    -fx-text-fill: black;
    -fx-padding: 50 0 0 0;
}

.label-sm {
    -fx-font-size: 20pt;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-font-family: "KG HAPPY";
    -fx-font-size: 25pt;
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-prompt-text-fill: #777777;
    -fx-border-color: #333333;
}

.slider .track {
    -fx-background-color: null;
    -fx-background-radius: 15px;
}

.progress-bar .bar {
    -fx-background-color:
            -fx-box-border,
            linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
            #90EE90; /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}